* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0 auto;
    width:80%;
    height:100vh;
    display:flex;
    flex-direction: column;
    
  }

  .header{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  
  .main{
      display:flex;
      flex-direction: row;
     
  }
  .quiz-main{
    display:flex;
    flex-direction: column;
    }

  .quiz-main h2{
      text-align: center;
  }

  

     

.hide-elements{
    display: none;
}

.display-elements{
    display: block;
}

/* button{
    display:block;
    
} */